    <section class="interno">
        <h1>Worket nuevo cliente</h1>
        <div class="backBot">
            <%= link_to 'Back', regiones_path %>
        </div>
        <div class="formGral">
            <div class="form">
                <%= render 'form' %>
            </div>
        </div>
    </section>
