<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Worket</title>
<meta name="description" content="">
<meta name="viewport" content="width=devise-width">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../../assets/stylesheets/estilos.css">
<link rel="stylesheet" href="../../assets/stylesheets/normalize.css">
</head>
<body>
    <section class="interno">
        <h1 class="visibles">Carolina Albarrán</h1>

        <div class="resena">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi velit eaque asperiores non rerum aperiam commodi dignissimos molestias hic esse.
                Atque ullam ab, qui laudantium iste fuga voluptas numquam adipisci.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi velit eaque asperiores non rerum aperiam commodi dignissimos molestias hic esse.
                Atque ullam ab, qui laudantium iste fuga voluptas numquam adipisci.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>

        </div>


    </section>
    <section class="muestra">
        <article class="showMuestra">
            <div class="grande">
                <figure>
                    <img src="../../assets/images/haw/carolina_albarran.jpg" alt="carolina albarrán">
                </figure>

                <button>
                    cotizar
                </button>
                
                <div class="califica">
                    <p>Calificacíon</p>
                    <p>6,7 / 7,0</p>
                </div>

            </div>

            <div class="chicas">
                <ul>
                    <li><img src="../../assets/images/haw/carolina_albarran/IMG_6079.jpg" alt=""></li>
                    <li><img src="../../assets/images/haw/carolina_albarran/IMG_6084.jpg" alt=""></li>
                    <li><img src="../../assets/images/haw/carolina_albarran/IMG_6112.jpg" alt=""></li>
                    <li><img src="../../assets/images/haw/carolina_albarran/IMG_6118.jpg" alt=""></li>
                </ul>

            </div>
        </article>
    </section>
</body>
</html>
