  <h1><strong>WORKET, mejora la calidad, salud, desarrollo y compromiso en tu grupo de trabajo</strong></h1>
  <div class="fijo">
    <div class="bio">
        <div class="log">
            <figure>
              <img src="/assets/logo.png" alt="">
            </figure>
        </div>
        <ul class="slide">
            <li><p>Te Ayudamos a Mejorar la Salud de los Colaboradores</p></li>
            <li><p>fortalecemos su Compromiso con la Empresa.</p></li>
        </ul>

    </div>
    <div class="fijoImg"></div>
  </div>


  <!-- <%= @worket %> -->
  <!-- <p>Find me in app/views/home/index.html.erb</p> -->


  <section class="home">
    <article class="intro">
      <div>
        <h2>Bienvenido a WORKET, el lugar en donde encontraras una selección de profesionales con programas y
        talleres orientados al bienestar, la salud, desarrollo y compromiso con
        los colaboradores dentro de tu empresa.
      </h2>
        <!-- <div class="formito">
          <form>
            <input type="email" id="ingresa" class="ingresa" placeholder="Ingresa tu Correo" required>
            <input type="submit" value="" id="irA" class="irA">
            <span class="fleshita"></span>
          </form>
        </div>
      </div> -->
    </article>

    <article class="grupoUno">

      <div class="titulo">
        <figure>
          <div class="imag">
            <div class="backg">
              <img src="/assets/healthwellness.png" alt="">
            </div>
          </div>

          <figcaption>
            <h2>Health and wellnes</h2>
          </figcaption>
        </figure>
      </div>
      <div class="vermas">
        <a href="#">Ver mas</a>
      </div>


      <ul>
        <li>
          <figure>
            <img src="img/dinamicas/temas/tema11.png" alt="img04">
            <figcaption>
              <p>Baile Entretenido</p>
              <span>Manuel Contreras</span>
              <a href="#"></a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="img/dinamicas/temas/tema12.png" alt="img01">
            <figcaption>
              <p>Yoga</p>
              <span>Jacob Cummings</span>
              <a href="#"></a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="img/dinamicas/temas/tema21.png" alt="img02">
            <figcaption>
              <p>Entrenador</p>
              <span>Jacob Cummings</span>
              <a href="#"></a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="img/dinamicas/temas/tema22.png" alt="img05">
            <figcaption>
              <p>Cocina Internacional</p>
              <span>Jacob Cummings</span>
              <a href="#"></a>
            </figcaption>
          </figure>
        </li>
      </ul>


    </article >

    <article class="grupoDos">
      <div class="titulo">
        <figure>
          <div class="imag">
            <div class="backg">
              <img src="/assets/workshop.png" alt="">
            </div>
          </div>

          <figcaption>
            <h2>Health and wellnes</h2>
          </figcaption>
        </figure>
      </div>
      <div class="vermas">
        <a href="#">Ver mas</a>
      </div>

      <ul>
        <li>
          <figure>
            <img src="img/dinamicas/temas/tema11.png" alt="img04">
            <figcaption>
              <p>Baile Entretenido</p>
              <span>Manuel Contreras</span>
              <a href="#"></a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="img/dinamicas/temas/tema12.png" alt="img01">
            <figcaption>
              <p>Yoga</p>
              <span>Jacob Cummings</span>
              <a href="#"></a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="img/dinamicas/temas/tema21.png" alt="img02">
            <figcaption>
              <p>Entrenador</p>
              <span>Jacob Cummings</span>
              <a href="#"></a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="img/dinamicas/temas/tema22.png" alt="img05">
            <figcaption>
              <p>Cocina Internacional</p>
              <span>Jacob Cummings</span>
              <a href="#"></a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </article>

    <article class="contactanos">
      <p>Necesitas ayuda o te interesa nuestro servicio y contactanos.</p>
      <a href="#">Worket Concierge</a>
    </article>

    

  </section>
