  <h1><strong>WORKET, mejora la calidad, salud, desarrollo y compromiso en tu grupo de trabajo</strong></h1>
  <div class="fijo">
    <div class="bio">
        <div class="log">
            <figure>
              <img src="/assets/logo.png" alt="">
            </figure>
        </div>
        <ul class="slide">
            <li><p>Te Ayudamos a Mejorar la <span>Salud</span> de los Colaboradores</p></li>
            <li><p>fortalecemos su <span>Compromiso</span> con la Empresa.</p></li>
        </ul>

    </div>
    <div class="fijoImg"></div>
  </div>




  <section class="home">
    <article class="intro">
      <div>
        <h2>Bienvenido a WORKET, el lugar en donde encontraras una selección de profesionales con programas y
        talleres orientados al bienestar, la salud, desarrollo y compromiso con
        los colaboradores dentro de tu empresa.
      </h2>
        <!-- <div class="formito">
          <form>
            <input type="email" id="ingresa" class="ingresa" placeholder="Ingresa tu Correo" required>
            <input type="submit" value="" id="irA" class="irA">
            <span class="fleshita"></span>
          </form>
        </div>
      </div> -->
    </article>

    <article class="redeaGrupo">
      <div class="grupoUno">

        <div class="titulo">
          <figure>
            <div class="imag">
              <div class="backg">
                <img src="/assets/healthwellness.png" alt="">
              </div>
            </div>

            <figcaption>
              <h2>Health and wellnes</h2>
            </figcaption>
          </figure>
          <div class="vermas">
            <a href="#">
            <div>
              <p>
                Ver mas
              </p>
            </div>
            </a>
          </div>
        </div>

        <ul>
          <li>
            <figure>
              <img src="/assets/haw/carolina_albarran.jpg" alt="carolina albarrán">
              <a href="#">
                <figcaption>
                  <div class="nombres">
                    <!-- <div class="ojo"></div> -->
                    <p>Carolina Albarrán</p>
                    <span>Vinyasa Yoga 30" y 45"</span>
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>

          <li>
            <figure>
              <img src="/assets/haw/alex_torres.jpg" alt="alex torres">
              <a href="#">
                <figcaption>
                  <div class="nombres">
                    <p>Alex Torres</p>
                    <span>Masajes</span>
                    <!-- <div class="ojo"></div> -->
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>

          <li>
            <figure>
              <img src="/assets/haw/nicole_soto.jpg" alt="nicole soto">
              <a href="#">
                <figcaption>
                  <div class="nombres">
                    <p>Nicole Soto</p>
                    <span>Clases de Fitness</span>
                    <!-- <div class="ojo"></div> -->
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>

          <li>
            <figure>
              <img src="/assets/haw/pilar_ahumada.jpg" alt="pilar ahumada">
              <a href="#">
                <figcaption>
                  <div class="nombres">
                    <p>Pilar Ahumada</p>
                    <span>Yoga</span>
                    <!-- <div class="ojo"></div> -->
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>
        </ul>

      </div>



    </article >

    <article class="redeaGrupo">
      <div class="grupoDos">
        <div class="titulo">
          <figure>
            <div class="imag">
              <div class="backg">
                <img src="/assets/workshop.png" alt="">
              </div>
            </div>

            <figcaption>
              <h2>Workshop</h2>
            </figcaption>
          </figure>
          <div class="vermas">
            <a href="#">
            <div>
              <p>
                Ver mas
              </p>
            </div>
            </a>
          </div>
        </div>


        <ul>
          <li>
            <figure>
              <img src="/assets/ws/elsa_guzman.jpg" alt="elsa_guzman">
              <a href="#">
                <figcaption>
                  <div class="nombres">
                    <p>Elsa Gúzman</p>
                    <span>Asesoría de Imagen</span>
                    <!-- <div class="ojo"></div> -->
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>

          <li>
            <figure>
              <img src="/assets/ws/workshop_mujeres.jpg" alt="workshop mujeres">
              <a href="#">
                <figcaption>
                  <div class="nombres">
                    <p>Workshop Mujeres</p>
                    <span>Workshop Mujeres</span>
                    <!-- <div class="ojo"></div> -->
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>

          <li>
            <figure>
              <img src="/assets/ws/estefania_bastias.jpg" alt="estefanía bastias">
              <a href="#">
                <figcaption>
                  <div class="nombres">
                    <p>Estefanía Bastias</p>
                    <span>Taller de Imagen Personal</span>
                    <!-- <div class="ojo"></div> -->
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>

          <li>
            <figure>
              <img src="/assets/ws/sebastian_lillo.jpg" alt="sebastián lillo">
              <a href="#">
                <figcaption>
                  <div class="nombres">
                    <p>Sebastián Lillo</p>
                    <span>Coach</span>
                    <!-- <div class="ojo"></div> -->
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>
        </ul>
      </div>
    </article>

    <article class="contactanos">
      <p>Necesitas ayuda o te interesa nuestro servicio y contactanos.</p>
      <a href="#">Worket Concierge</a>
    </article>



  </section>
